* {
	--font: #a1a1a1;
	--bg: #383838;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 5px;
	background: var(--bg);
	color: var(--font);
	justify-content: center;
	display: flex;
}
thead td {
	text-align: center;
	font-weight: bold;
}
tbody td {
	text-align: left;
	font-weight: normal;
}
table {
	border-spacing: 0;
}
tr {
	border: none;
	outline: none;
}
table, td {
	border: 1px solid var(--font);
	outline: none;
}
td {
	padding: 2px 5px;
}
input[type=text] {
	outline: 1px groove var(--font) !important;
	box-shadow: none !important;
	border: none !important;
	color: #000;
	background: #fff;
}
input[type=text], output {
	display: inline-block;
	padding: 1px 2px;
	margin: 0;
	text-align: left;
	font-weight: normal;
}
input[type=text] {
	width: 100px;
	font-size: 12px;
}
[readonly], [disabled] {
	cursor: default;
	background: #b7b7b7 !important;
}
textarea {
	width: 120px;
	resize: none;
	height: 500px;
	white-space: pre;
	padding: 2px;
	border-width: 1px;
	outline: none !important;
}
td:has(textarea)::before {
	content: attr(data-before);
	white-space: break-spaces;
	display: block;
	float: left;
	text-align: right;
	margin-right: 3px;
	height: 500px;
	overflow: hidden;
	padding: 3px 0;
}
td:has(textarea)::before, textarea {
	font-size: 13px;
	line-height: 1.2;
	box-sizing: border-box;
}
textarea[name="input"]{
	width: 500px;
}
.result {
	user-select: all;
	cursor: default;
}
input[type=submit]{
	width: 100%;
	text-align: center;
}
label {
	cursor: pointer;
	user-select: none;
}
label:has(input[type="checkbox"]) {
	color: white;
}
input[type=checkbox] {
	margin: 0;
	padding: 0;
	cursor: pointer;
}
.nowrap {
	white-space: nowrap;
}
.uselect {
	cursor: pointer;
	user-select: all;
}
.taleft {
	text-align: left;
}